<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mszq.platform.app.job.dao.IJobDAO">
  <resultMap id="BaseResultMap" type="com.mszq.platform.entity.Job">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="job_class" jdbcType="VARCHAR" property="jobClass" />
    <result column="descrption" jdbcType="VARCHAR" property="descrption" />
    <result column="creat_time" jdbcType="TIMESTAMP" property="creatTime" />
    <result column="updata_time" jdbcType="TIMESTAMP" property="updataTime" />
    <result column="creator_Id" jdbcType="INTEGER" property="creatorId" />
    <result column="quartz_time" jdbcType="VARCHAR" property="quartzTime" />
    <result column="status" jdbcType="VARCHAR" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, job_class, descrption, creat_time, updata_time, creator_Id, quartz_time, 
    status
  </sql>
      <select id="queryAll" parameterType="Map" resultType="com.mszq.platform.entity.Job">
        SELECT
           id, name, job_class, descrption, creat_time, updata_time, creator_Id, quartz_time, 
    status
        FROM
           pf_sm_job_define
        WHERE 1=1
             <if test="_parameter.containsKey('name')">  AND name like #{name}</if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pf_sm_job_define
    where id = #{id,jdbcType=INTEGER}
  </select>
    <select id="selectJobNameById" parameterType="java.lang.Integer" resultType="java.lang.String">
    select name
    from pf_sm_job_define
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from pf_sm_job_define
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mszq.platform.entity.Job">
    insert into pf_sm_job_define (id, name, job_class, 
      descrption, creat_time, updata_time, 
      creator_Id, quartz_time, status
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{jobClass,jdbcType=VARCHAR}, 
      #{descrption,jdbcType=VARCHAR}, #{creatTime,jdbcType=TIMESTAMP}, #{updataTime,jdbcType=TIMESTAMP}, 
      #{creatorId,jdbcType=INTEGER}, #{quartzTime,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mszq.platform.entity.Job">
    insert into pf_sm_job_define
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="jobClass != null">
        job_class,
      </if>
      <if test="descrption != null">
        descrption,
      </if>
      <if test="creatTime != null">
        creat_time,
      </if>
      <if test="updataTime != null">
        updata_time,
      </if>
      <if test="creatorId != null">
        creator_Id,
      </if>
      <if test="quartzTime != null">
        quartz_time,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="jobClass != null">
        #{jobClass,jdbcType=VARCHAR},
      </if>
      <if test="descrption != null">
        #{descrption,jdbcType=VARCHAR},
      </if>
      <if test="creatTime != null">
        #{creatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updataTime != null">
        #{updataTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creatorId != null">
        #{creatorId,jdbcType=INTEGER},
      </if>
      <if test="quartzTime != null">
        #{quartzTime,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mszq.platform.entity.Job">
    update pf_sm_job_define
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="jobClass != null">
        job_class = #{jobClass,jdbcType=VARCHAR},
      </if>
      <if test="descrption != null">
        descrption = #{descrption,jdbcType=VARCHAR},
      </if>
      <if test="creatTime != null">
        creat_time = #{creatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updataTime != null">
        updata_time = #{updataTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creatorId != null">
        creator_Id = #{creatorId,jdbcType=INTEGER},
      </if>
      <if test="quartzTime != null">
        quartz_time = #{quartzTime,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mszq.platform.entity.Job">
    update pf_sm_job_define
    set name = #{name,jdbcType=VARCHAR},
      job_class = #{jobClass,jdbcType=VARCHAR},
      descrption = #{descrption,jdbcType=VARCHAR},
      creat_time = #{creatTime,jdbcType=TIMESTAMP},
      updata_time = #{updataTime,jdbcType=TIMESTAMP},
      creator_Id = #{creatorId,jdbcType=INTEGER},
      quartz_time = #{quartzTime,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>