/*topheader*/
.topheader{width:100%;height:68px;background:#144883 url(../images/bg_header0cb570.png) repeat-x 0 0;}
.topheader .logo{float:left;margin:12px 0 0 0;}
.topheader .logo img{border:0 none;}
.topheader .navBar{float:left;margin:0 0 0 140px;background:url(../images/bg_nav0cb570.png) no-repeat right 0;}
.topheader li{list-style:none;float:left;width:105px;height:68px;line-height:68px;background:url(../images/bg_nav0cb570.png) no-repeat 1px 0;margin-left:-1px;}
.topheader li a{color:#fff;font-size:14px;height:68px;line-height:68px;display:block;text-align:center;outline:none;}
.topheader li a:hover{background:#1a4a81;}
.topheader li a.on{background:#153d6b;}
.topheader .setinfo{float:right;width:160px;height:31px;background:url(../images/bg_signup0cb570.png) no-repeat 0 0;}
.topheader .setinfo a{color:#DFDFDF;font-size:12px;margin:0 15px 0 0;text-align:center;display:inline-block;line-height:26px;}
.topheader .setinfo .sign_up{width:80px;margin:0 0 0 15px;}
.topheader .setinfo .logoin{width:50px;}

/* selection */
html.clearly_highlighting_enabled ::-moz-selection {
	background: rgba(246, 238, 150, 0.99);
}

html.clearly_highlighting_enabled ::selection {
	background: rgba(246, 238, 150, 0.99);
} /* cursor */
html.clearly_highlighting_enabled {
	/* cursor and hot-spot position -- requires a default cursor, after the URL one */
	cursor:
		url("chrome-extension://pioclpoplcdbaefihamjohnefbikjilc/clearly/images/highlight--cursor.png")
		14 16, text;
} /* highlight tag */
em.clearly_highlight_element {
	font-style: inherit !important;
	font-weight: inherit !important;
	background-image:
		url("chrome-extension://pioclpoplcdbaefihamjohnefbikjilc/clearly/images/highlight--yellow.png");
	background-repeat: repeat-x;
	background-position: top left;
	background-size: 100% 100%;
} /* the delete-buttons are positioned relative to this */
em.clearly_highlight_element.clearly_highlight_first {
	position: relative;
} /* delete buttons */
em.clearly_highlight_element a.clearly_highlight_delete_element {
	display: none;
	cursor: pointer;
	padding: 0;
	margin: 0;
	line-height: 0;
	position: absolute;
	width: 34px;
	height: 34px;
	left: -17px;
	top: -17px;
	background-image:
		url("chrome-extension://pioclpoplcdbaefihamjohnefbikjilc/clearly/images/highlight--delete-sprite.png");
	background-repeat: no-repeat;
	background-position: 0px 0px;
}

em.clearly_highlight_element a.clearly_highlight_delete_element:hover {
	background-position: -34px 0px;
} /* retina */
@media ( min--moz-device-pixel-ratio : 2) , ( -webkit-min-device-pixel-ratio : 2)
		, ( min-device-pixel-ratio : 2) {
	em.clearly_highlight_element {
		background-image:
			url("chrome-extension://pioclpoplcdbaefihamjohnefbikjilc/clearly/images/highlight--yellow@2x.png");
	}
	em.clearly_highlight_element a.clearly_highlight_delete_element {
		background-image:
			url("chrome-extension://pioclpoplcdbaefihamjohnefbikjilc/clearly/images/highlight--delete-sprite@2x.png");
		background-size: 68px 34px;
	}
}

</
style> <style>[touch-action="none"] {
	-ms-touch-action: none;
	touch-action: none;
}

[touch-action="pan-x"] {
	-ms-touch-action: pan-x;
	touch-action: pan-x;
}

[touch-action="pan-y"] {
	-ms-touch-action: pan-y;
	touch-action: pan-y;
}

[touch-action="scroll"],[touch-action="pan-x pan-y"],[touch-action="pan-y pan-x"]
	{
	-ms-touch-action: pan-x pan-y;
	touch-action: pan-x pan-y;
}

