<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context" 
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans     
        http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.3.xsd">

    <context:property-placeholder location="classpath:jdbc.properties,classpath:redis.properties,classpath:quartz.properties" />
    <import resource="classpath:/spring/spring-activiti.xml"/>
    <import resource="classpath:/spring/spring-mybatis.xml"/>
    <import resource="classpath:/spring/spring-redis.xml"/>
    <import resource="classpath:/spring/spring-service.xml"/>
    <import resource="classpath:/spring/spring-shiro.xml"/>
	<import resource="classpath:/spring/spring-quartz.xml"/>
</beans>